# 忽略編譯後的 class 檔
*.class

# 忽略 Maven 產生的 target 資料夾
/target/

# 忽略 Eclipse 的編譯輸出資料夾 (如果有)
bin/

# 忽略 Eclipse 的設定檔 (建議忽略，讓專案保持乾淨)
.settings/
.classpath
.project
.metadata/

# 忽略作業系統產生的縮圖檔
.DS_Store
Thumbs.db
target/classes/com/pet/controller/member/AdminServlet.class
*.class
*.class
target/m2e-wtp/web-resources/META-INF/maven/pet/pet/pom.properties
target/classes/hibernate.cfg.xml
.settings/org.eclipse.jdt.core.prefs
/target/classes
target/classes/com/pet/controller/member/AdminLoginServlet.class
