### OAuth2 Secrets (保護你的 Google 金鑰) ###
src/main/resources/application-secret.properties

### Eclipse Specific (防止路徑衝突) ###
.settings/
.classpath
.project
.metadata/
bin/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

### Java & Maven ###
/target/
*.class
*.jar
*.war
*.ear

### OS Specific (作業系統垃圾檔) ###
.DS_Store
Thumbs.db

### VS Code & IntelliJ (防範組員使用不同 IDE) ###
.vscode/
src/main/resources/application-secret.properties
.idea/
*.iml
