<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>修改優惠券 | 管理中心</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    
    <link rel="stylesheet" href="../../plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="../../plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <link rel="stylesheet" href="../../dist/css/admin-custom.css">

    <style>
        /* 標題區塊排版 */
        .box1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        /* 頁面專屬微調 */
        .form-container {
            max-width: 1000px;
            margin: 0 auto;
        }
        
        .input-group-text {
            background-color: #f4f6f9;
            border-color: #ced4da;
            color: #6c757d;
            min-width: 45px;
            justify-content: center;
        }

        /* 輸入框聚焦時的顏色 */
        .form-control:focus + .input-group-append .input-group-text, 
        .form-control:focus ~ .input-group-prepend .input-group-text {
            border-color: #be8754;
            color: #be8754;
        }
        
        .select2-container .select2-selection--single {
            height: calc(2.5rem + 2px) !important;
        }
    </style>
</head>

<body class="hold-transition sidebar-mini sidebar-collapse">
    <div class="wrapper">
        
        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-12 box1">
                            <h1>修改優惠券</h1>
                            <a href="CouponQueryAll.html" class="btn btn-default btn-sm shadow-sm border">
                                <i class="fas fa-arrow-left mr-1"></i> 回列表
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content">
                <div class="container-fluid">
                    <div class="row justify-content-center"> 
                        <div class="col-md-10 form-container">
                            
                            <div class="card card-outline card-primary shadow-lg">
                                <div class="card-header">
                                    <h3 class="card-title" style="font-weight: 700;">
                                        <i class="fas fa-edit mr-2" style="color: #be8754;"></i>修改優惠券資料
                                    </h3>
                                </div>
                                
                                <form id="updateForm" class="form-horizontal">
                                    <input type="hidden" id="couponId">

                                    <div class="card-body">
                                        
                                        <div class="form-group row">
                                            <label for="code" class="col-sm-2 col-form-label text-right">折扣碼</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fas fa-barcode"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control" id="code" required autocomplete="off">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="discountType" class="col-sm-2 col-form-label text-right">折扣類型</label>
                                            <div class="col-sm-9">
                                                <select class="form-control select2" style="width: 100%;" id="discountType">
                                                    <option value="amount">固定金額 (Amount)</option>
                                                    <option value="percent">百分比 (Percent)</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="discountValue" class="col-sm-2 col-form-label text-right">折扣數值</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fas fa-tags"></i></span>
                                                    </div>
                                                    <input type="number" step="0.05" class="form-control" id="discountValue" required autocomplete="off">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="isLimited" class="col-sm-2 col-form-label text-right">是否限量</label>
                                            <div class="col-sm-9">
                                                <select class="form-control select2" style="width: 100%;" id="isLimited">
                                                    <option value="0">不限量</option>
                                                    <option value="1">限量</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="totalAmount" class="col-sm-2 col-form-label text-right">總發放量</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fas fa-layer-group"></i></span>
                                                    </div>
                                                    <input type="number" class="form-control" id="totalAmount" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="issuedAmount" class="col-sm-2 col-form-label text-right">已發放數量</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fas fa-check-double"></i></span>
                                                    </div>
                                                    <input type="number" class="form-control" id="issuedAmount" readonly style="background-color: #e9ecef;">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="minPurchase" class="col-sm-2 col-form-label text-right">使用門檻</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fas fa-coins"></i></span>
                                                    </div>
                                                    <input type="number" class="form-control" id="minPurchase" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="issueRange" class="col-sm-2 col-form-label text-right">發放區間</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control" id="issueRange" autocomplete="off">
                                                    <input type="hidden" id="issueStartAt">
                                                    <input type="hidden" id="issueEndAt">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="useRange" class="col-sm-2 col-form-label text-right">使用區間</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="far fa-calendar-check"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control" id="useRange" autocomplete="off">
                                                    <input type="hidden" id="useStartAt">
                                                    <input type="hidden" id="useEndAt">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    
                                    <div class="card-footer d-flex justify-content-center pt-4 pb-4">
                                        <button type="submit" class="btn btn-theme-action px-5 mr-3">
                                            <i class="fas fa-save mr-1"></i> 確認修改
                                        </button>
                                        
                                        <button type="reset" class="btn btn-default px-5">
                                            <i class="fas fa-undo mr-1"></i> 還原
                                        </button>
                                    </div>
                                    
                                </form>
                            </div>
                            </div>
                    </div>
                </div>
            </section>
        </div>

    </div>

    <script src="../../plugins/jquery/jquery.min.js"></script>
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../plugins/select2/js/select2.full.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    
    <script src="../../dist/js/adminlte.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

    <script src="../../dist/js/admin-layout.js"></script>

    <script>
        $(function () {
            // Select2
            $('.select2').select2({
                theme: 'bootstrap4',
                minimumResultsForSearch: Infinity
            });

            const urlParams = new URLSearchParams(window.location.search);
            const couponId = urlParams.get('couponId');

            if (!couponId) {
                Swal.fire('錯誤', '缺少 Coupon ID', 'error').then(() => {
                    window.location.href = 'CouponQueryAll.html';
                });
                return;
            }

            // --- 1. 初始化日期元件 ---
            const datePickerConfig = {
                autoUpdateInput: false,
                locale: { format: 'YYYY-MM-DD', separator: ' ~ ', cancelLabel: '清除' }
            };

            $('#issueRange, #useRange').daterangepicker(datePickerConfig);

            $('#issueRange, #useRange').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('YYYY-MM-DD') + ' ~ ' + picker.endDate.format('YYYY-MM-DD'));
                const prefix = this.id.replace('Range', '');
                $(`#${prefix}StartAt`).val(picker.startDate.format('YYYY-MM-DD'));
                $(`#${prefix}EndAt`).val(picker.endDate.format('YYYY-MM-DD'));
            });

            // --- 2. 載入原始資料 ---
            loadCouponData(couponId);

            function loadCouponData(id) {
                Swal.fire({
                    title: '載入中...',
                    allowOutsideClick: false,
                    didOpen: () => { Swal.showLoading(); }
                });

                $.ajax({
                    url: `/coupon/${id}`,
                    method: 'GET',
                    success: function (coupon) {
                        Swal.close();
                        $('#couponId').val(coupon.couponId);
                        $('#code').val(coupon.code);
                        $('#discountType').val(coupon.discountType).trigger('change'); // 確保 Select2 更新
                        $('#discountValue').val(coupon.discountValue);
                        $('#isLimited').val(coupon.isLimited).trigger('change');
                        $('#totalAmount').val(coupon.totalAmount);
                        $('#issuedAmount').val(coupon.issuedAmount);
                        $('#minPurchase').val(coupon.minPurchase);

                        if (coupon.issueStartAt && coupon.issueEndAt) {
                            $('#issueRange').val(`${coupon.issueStartAt} ~ ${coupon.issueEndAt}`);
                            $('#issueStartAt').val(coupon.issueStartAt);
                            $('#issueEndAt').val(coupon.issueEndAt);
                        }
                        if (coupon.useStartAt && coupon.useEndAt) {
                            $('#useRange').val(`${coupon.useStartAt} ~ ${coupon.useEndAt}`);
                            $('#useStartAt').val(coupon.useStartAt);
                            $('#useEndAt').val(coupon.useEndAt);
                        }

                        toggleQuantityInputs();
                    },
                    error: function () {
                        Swal.fire('錯誤', '載入資料失敗', 'error').then(() => {
                             window.location.href = 'CouponQueryAll.html';
                        });
                    }
                });
            }

            // --- 3. 限量控制邏輯 ---
            function toggleQuantityInputs() {
                const status = $('#isLimited').val();
                if (status === "1") {
                    $('#totalAmount').prop('disabled', false);
                } else {
                    $('#totalAmount').prop('disabled', true).val('');
                }
            }

            $('#isLimited').on('change', toggleQuantityInputs);

            // --- 4. 送出更新 ---
            $('#updateForm').submit(function (e) {
                e.preventDefault();

                const updateData = {
                    couponId: $('#couponId').val(),
                    code: $('#code').val().trim(),
                    discountType: $('#discountType').val(),
                    discountValue: parseFloat($('#discountValue').val()),
                    isLimited: parseInt($('#isLimited').val()),
                    totalAmount: $('#totalAmount').val() ? parseInt($('#totalAmount').val()) : 0,
                    issuedAmount: parseInt($('#issuedAmount').val() || 0),
                    minPurchase: parseInt($('#minPurchase').val()),
                    issueStartAt: $('#issueStartAt').val(),
                    issueEndAt: $('#issueEndAt').val(),
                    useStartAt: $('#useStartAt').val(),
                    useEndAt: $('#useEndAt').val()
                };

                Swal.fire({
                    title: '更新中...',
                    text: '請稍候',
                    allowOutsideClick: false,
                    didOpen: () => { Swal.showLoading(); }
                });

                $.ajax({
                    url: `/coupon/${couponId}`,
                    method: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(updateData),
                    success: function (res) {
                        sessionStorage.setItem('lastUpdatedCoupon', JSON.stringify(res));
                        
                        Swal.fire({
                            icon: 'success',
                            title: '更新成功！',
                            text: '即將跳轉至完成頁面',
                            timer: 1500,
                            showConfirmButton: false
                        }).then(() => {
                            window.location.href = 'CouponUpdateDone.html';
                        });
                    },
                    error: function (xhr) {
                        const msg = (xhr.responseJSON?.message || "資料格式錯誤");
                        Swal.fire('更新失敗', msg, 'error');
                    }
                });
            });

            // 還原按鈕邏輯
            $('button[type="reset"]').on('click', function(e){
                e.preventDefault();
                loadCouponData(couponId);
            });
        });
    </script>
</body>

</html>